@model NetMarket.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Редактирование товара";
}
<head>
    <link rel="stylesheet" href="~/css/productData.css" />
</head>
<body class="body-edit">
    <div class="edit-container">
        <div class="updateContainer">
            <p>Название</p>
            <input id="name" type="text" value="@Model.Name" readonly="readonly"/>
            <button id="button-Name" onclick="NameClick(@Model.Id)">Изменить</button>
        </div>
        <div class="updateContainer">
            <p>Компания</p>
            <input id="company" type="text" value="@Model.Company" readonly="readonly"/>
            <button id="button-Company" onclick="CompanyClick(@Model.Id)">Изменить</button>
        </div>
        <div class="updateContainer">
            <p>Цвет</p>
            <input id="color" type="text" value="@Model.Color" readonly="readonly" />
            <button id="button-Color" onclick="ColorClick(@Model.Id)">Изменить</button>
        </div>
        <div class="updateContainer">
            <p>Цена (₽)</p>
            <input id="price" type="number" value="@Model.Price" readonly="readonly" />
            <button id="button-Price" onclick="PriceClick(@Model.Id)">Изменить</button>
        </div>
        <div class="updateContainer">
            <p>ОС</p>
            <input id="operationSystem" type="text" value="@Model.OperationSystem" readonly="readonly" />
            <button id="button-OperationSystem" onclick="OperationSystemClick(@Model.Id)">Изменить</button>
        </div>
        <div class="updateContainer">
            <p>Карта памяти (ГБ)</p>
            <input id="storageCard" type="number" value="@Model.StorageCard" readonly="readonly" />
            <button id="button-StorageCard" onclick="StorageCardClick(@Model.Id)">Изменить</button>
        </div>
        <div class="updateContainer">
            <p>Вес (г)</p>
            <input id="weight" type="number" value="@Model.Weight" readonly="readonly" />
            <button id="button-Weight" onclick="WeightClick(@Model.Id)">Изменить</button>
        </div>
        <div class="updateContainer">
            <p>Описание</p>
            <input id="description" type="text" value="@Model.Description" readonly="readonly" maxlength="55"/>
            <button id="button-Description" onclick="DescriptionClick(@Model.Id)">Изменить</button>
        </div>
        <div class="updateContainer">
            <p>Наличие</p>
            <select id="selectExistence">
                @if (Model.HaveInStock)
                {
                    <option selected="selected">Есть в наличии</option>
                    <option>Нет в наличии</option>
                }
                else
                {
                    <option>Есть в наличии</option>
                    <option selected="selected">Нет в наличии</option>
                }
            </select>
            <button id="button-Existence" style="visibility: hidden;" onclick="ExistenceClick(@Model.Id)">Сохранить</button>
        </div>
        <form asp-action="Edit" asp-controller="Staff" method="post" enctype="multipart/form-data">
            <div class="updateContainerPhoto">
                <label for="file">Изменить фотографию</label>
                <input id="file" type="file" style="display: none;" name="uploadImage" />
                <div class="div-img">
                    <img id="image" src="~/@Model.ImageString" alt="" />
                </div>
                <button id="buttonSave" class="buttonSave" style="display: none;" type="submit">Сохранить</button>
                <button id="buttonCancel" class="buttonCancel" style="display: none;" type="button" onclick="CancelClick()">Отменить</button>
            </div>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/edit.js" asp-append-version="true"></script>
</body>